.banner {
    position: relative;
    width:  100% ;
    max-Width:  1440px ;
    margin:  0 auto ;
}

.desk {
    width:  100% ;
    height:  auto ;
}

.mobile {
    width:  530px ;
    height:  auto ;
}

.profile {
    z-index: 2; 
    position: absolute;
    left: 17.5%;
    border-radius: 50%; 
    object-fit: cover; 
    width: 110px;
    height: 110px;
    opacity: 0.8;
}

.profilebox {
    background-image: url('../img/sun.jpg'); 
    background-size: cover; 
    background-position: center;
    border-radius: 50%; 
    overflow: hidden;
    position: absolute;
    top: 7%;
    left: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-80%);
    width: 150px;
    height: 150px;
}

.profile:hover{
    opacity: 1;
    cursor: pointer;
}

/* 760px 보다 작을때 */
@media screen and (max-width: 760px) {
    .profilebox {
    width: 80px;
    height: 80px;
    }
    .profile{
        left: 20%;
        width: 55px;
        height: 55px;
    }

.modal {
    background-color: white;
}

}