.banner {
    position: relative;
    width:  100% ;
    max-Width:  1440px ;
    margin:  0 auto ;
}

.desk {
    width:  100% ;
    height:  auto ;
}

.mobile {
    width:  530px ;
    height:  auto ;
}

.profile {
    z-index: 2; 
    position: absolute;
    border-radius: 50%; 
    object-fit: cover; 

}

.profilebox {
    background-image: url('../img/sun.jpg'); 
    background-size: cover; 
    background-position: center;
    border-radius: 50%; 
    overflow: hidden;
    position: absolute;
    top: 20%;
    left: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-80%);

}