/* rain.css */

.rainMainText {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    margin: 20px 0;
}

.rainWriting {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #ffc55a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    float: right;
}

.rainWriting:hover {
    background-color: #e7c05d;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

thead {
    background-color: #f2f2f2;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    font-weight: bold;
}

tr:hover {
    background-color: #f5f5f5;
}

/* rainWriter.css */


.writebanner {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    margin: 20px 0;
}

.dropdownContainer {
    display: flex;
    align-items: flex-start; 
    margin: 10px 0;
}


.styledDropdown {
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    cursor: pointer;
    transition: all 0.3s;
}

.styledDropdown:hover, .styledDropdown:focus {
    border-color: #ffffff;
    background-color:#f5f5f5;
}


.dropdownContainer {
    display: flex;
    align-items: center;
    gap: 1.5rem; 
}

.styledDropdown {
    padding: 0.5rem;
    font-size: 1rem;
}

input[type="text"] {
    padding: 0.5rem;
    font-size: 1rem;
}

.ck.ck-editor__editable:not(.ck-editor__nested-editable) {
    min-height: 400px;
    margin-bottom: 20px;
}

.buttonWrite {
    display: flex;
    justify-content: flex-start;
}

.buttonWrite button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #ffc55a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    float: right;
    text-align: center;
    white-space: nowrap;
}

.buttonWrite button:hover {
    background-color: #ffd772; 
}


/* detailPage */

/* 이미지 왼쪽 정렬 */
.image-container {
    display: flex;
    align-items: center;  
}

/* 날짜와 조회, 공감을 한 줄로 */
.post-stats {
    font-size: 14px;
    color: #555;
    display: inline-block;
    margin-top: 30px;  
    margin-left: 15px; 
    display: inline-block;
}

/* 날짜 */
.datestyle {
    margin-top: 30px;  
    margin-left: -65px; 
    font-size: 14px;
    font-weight: normal;  
    color: #555;
}

.image-nickname-container {
    display: flex;
    align-items: center;
}

/* 프로필 */
img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;  
}


/* 닉네임 */
.nicknamestyle {
    margin-top: -5px;  
}


/* 카테고리이름 */
.rainPostPage { 
    font-size: 15px;
    text-align: left;
    color: orange;  
    font-weight: normal;  
    line-height: 1.0; 
}

/* 제목 */
.rainPostTitle {
    font-size: 18px; 
    text-align: left;
    font-weight: 500; 
    line-height: 0.6; 
}

.post-rules {
    background-color: #f9f9f9; 
    padding: 15px; 
    border: 1px solid #ddd;
    font-size: 14px; 
    color: #333; 
    border-radius: 5px; 
    line-height: 1.5;
    font-weight: 400; 
    text-align: left;
    margin-top: 20px; 
}

